:root {
  --primary: #40b441;
  --primary-text: #1a1a1a;
  --secondary: #ffc06c;
  --hotpink: #de2bd0;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
  --yellow: #f7faa6;
}